body{
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: beige;
}
th{
    background-color: rgb(216, 204, 92);
    border: 2px solid chocolate;
    padding: 15px;
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;

}

